.first{
    font-size:24px;
    font-family: '','Times New Roman', Helvetica, sans-serif;
}
.First{
    background-color: #000000;
    color:#eee;
}
.Second{
    background-color: #e3dc0d ;
    color:#000000;
}